$primary-color: #2E61AA;
$primary-color-hover: #52ABE3;

$color-error: #B30000;
$color-success: #008000;
$color-warning: #F58221;
$color-border:#C1C1C3;
$primary-text: #000;
$color-additional: #999999;

// Text color
$light-blue-text: rgb(0, 146, 207);
$dark-blue-text: rgb(0, 133, 204);
$white-text: rgb(255, 255, 255);
$gray-text: rgb(122, 122, 122);
$black-text: rgba(0, 0, 0, 1);

// Background colors
$light-blue-bg: #F6FCFF;
$blue-bg: $light-blue-text;
$black-bg: rgba(0, 0, 0, 1);
